{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <h2>Editar Estado</h2>

     <div class="col-md-8">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a href="{{ path('estados_index') }}"  class="btn btn-danger"> Cancelar</a>
        {{ form_end(edit_form) }}
    </div>
{% endblock %}
